html,
body {
  color: #421;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New";
    background: rgb(200, 232, 241);
    height: 100%;
    margin: 0;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}